body {
  background-image: url(./Images/clayton-cardinalli-Mr1aBfy5qdw-unsplash.jpg);
  background-repeat: repeat; 
  height: auto;
  background-size: cover;
  background-color: lightslategray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/*Container for all of the page components*/
.mainBox {
  margin: 5em 15em 0 1em; 
  width:65%;
  display: grid;
  opacity: 0.95;
  grid-gap: 0;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "nav cont"
   "nav cont"
   "nav cont";
}


/* contents box style */
.contentBox {
  grid-area: cont;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15px ;
  grid-template-areas:
  "showBox"
  "footer"
  ;
  background-color: lightslategray;
}
/*Content for pages*/
.showBox {
  grid-area: showBox;
  background-color: whitesmoke;
  margin: 25px 25px 18px 25px;
  padding: 10px 15px 10px 15px;
  font-family: 'MerriweatherSans';
}

/*Home page content(most content of all pages)*/
.homeContent {
  text-indent: 20px;
  font-size: calc(14px + ((100vw - 1100px)) / 680);
  text-align: justify;
}
/*All content besides home page*/
.mainContent {
  font-size: calc(14px + ((100vw - 768px)) / 680);
  text-align: center;
  /* margin: 0 9em 0 12em; */
}
/*Practice Areas Page two colum creation*/
.col-bullets {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas: "col-1 col-2";
  text-align: left;
  justify-items: center;
}

.col-1 {
  grid-area: col-1;
}
.col-2 {
  grid-area: col-2;
}

/*Changing the default bullet indent from 40px to 25px*/
ul {
  padding: 0 0 0 25px;
}
hr {
  margin: 0px 0px 7px 0px;
}
/*Logo Title Header container & children*/
.mainHeader{
  margin: 0 0 20px 0;
  text-align: center;
}
.title {
  margin: 0 0 0 0;
  font-family: 'RobotoSlab';
  font-size: calc(32px + ((100vw - 1440px)) / 680);
  font-weight: 100em;
  font-style: italic;
  /* text-decoration-style: black;
  text-decoration-line: underline; */
}
.certified {
  font-style: italic;
  font-weight: 100em;
  font-size: calc(12px + ((100vw - 1440px)) / 680);
}
/*Footer container & children*/
.footer{
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: calc(12px + ((100vw - 1440px)) / 680);
}

a.phoneNum {
  color: white;
}
a.phoneNum:hover {
color: blue;
}

/*Button nav box & children*/
.navBox {
  background-color: beige;
  display: grid;
  grid-area: nav;
  border-right: 5px solid tan;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px 1fr;
  grid-template-areas:
  "."
  "btnBox"
  "."
  
   
}
/*Button container */
.buttonBox {
  color: black;
  text-align: left;
  display: grid; 
  grid-area: btnBox;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "btn1"
  "btn2"
  "btn3"
  "btn4";

}
.button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Lato';
  font-size: calc(12px + ((100vw - 1440px)) / 680);
  cursor: pointer;
  justify-items: center;
  align-items: center;
}

.btn1 {
  grid-area: btn1;
  /* justify-self: center; */
  /* align-self: center; */
}

.btn2 {
  grid-area: btn2;
  /* justify-self: center; */
  /* align-self: center; */
}
.btn3 {
  grid-area: btn3;
  /* justify-self: center; */
  /* align-self: center; */
}
.btn4 {
  grid-area: btn4;
  /* justify-self: center; */
  /* align-self: center; */
}

/* mobile screen sizes below 768 width*/
@media only screen and (max-width: 767px) {
  .mainBox {
  margin: 1em;
  width: 92%;
  display: grid;
  opacity: 0.95;
  grid-gap: 0;
  grid-template-columns: 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
   "nav"
   "cont"
   ;
}
.showBox {
  grid-area: showBox;
  background-color: whitesmoke;
  margin: 25px 25px 16px 25px;
  /* border: 2px solid black; */
  padding: 10px 15px 10px 15px;
  text-align: justify;
 
}
.navBox {
  background-color: beige;
  display: grid;
  grid-area: nav;
  border-right: 0;
  border-bottom: 5px solid tan;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
  grid-template-areas:
 "btnBox";
}
.mainHeader{
  margin: 0 0 20px 0;
  text-align: center; 
  
}
.title {
  margin: 0 0 0 0;
  font-size: calc(1.5rem + ((1vw - 3.2px) * 1));
  font-weight: 100em;
  font-style: italic;

}
.certified {
  font-style: italic;
  font-weight: 100em;
  font-size: calc(0.75rem + ((1vw - 3.2px) * 1));
}
/*Home page content(most content of all pages)*/
.homeContent {
  text-indent: 20px;
  font-size: calc(14px + ((100vw - 1100px)) / 680);
  text-align: justify;
}
.mainContent {
  font-size: calc(14px + ((100vw - 768px)) / 680);
  margin: 0
}
/*Practice Areas Page two colum creation*/
.col-bullets {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: "col-1" "col-2";
  text-align: left;
  justify-items: start;
}
 ul {
   margin: 0;
 }
.col-1 {
  grid-area: col-1;
 
}
.col-2 {
  grid-area: col-2;
}

.footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: calc(0.65rem + ((1vw - 3.2px) * 1));
  
}
.buttonBox {
  display: grid; 
  grid-area: btnBox;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn1 btn2 btn3 btn4";
  
}

.btn1 {
  grid-area: btn1;
  justify-self: center;
  align-self: center;
  
}
.btn2 {
  grid-area: btn2;
  justify-self: center;
  align-self: center;
  
}
.btn3 {
  grid-area: btn3;
  justify-self: center;
  align-self: center;
  
}
.btn4 {
  grid-area: btn4;
  justify-self: center;
  align-self: center;
  
}
                   
}