body {
  background-image: url(./Images/clayton-cardinalli-Mr1aBfy5qdw-unsplash.jpg);
  background-repeat: repeat; 
  height: auto;
  background-size: cover;
  background-color: lightslategray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.mainBox {
  margin: 5em 15em 0 1em; 
  border: 2px solid black;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  display: grid;
  opacity: 0.95;
  grid-gap: 0;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "nav cont"
   "nav cont"
   "nav cont";
}


/* contents box style */
.contentBox {
  grid-area: cont;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15px ;
  grid-template-areas:
  "showBox"
  "footer"
  ;
  background-color: lightslategray;
  /* align-self: stretch; */
}

.showBox {
  grid-area: showBox;
  background-color: whitesmoke;
  margin: 25px 25px 18px 25px;
  border: 2px solid black;
  padding: 10px 15px 10px 15px;
  text-align: left;
}
.mainHeader{
  margin: 0 0 20px 0;
  
}
.homeContent {
  text-indent: 20px;
  font-size: calc(14px + ((100vw - 736px)) / 680);
}

.mainContent {
  font-size: calc(14px + ((100vw - 736px)) / 680);
}

ul {
  padding: 0 0 0 10px;
}

.title {
  margin: 0 0 0 0;
  font-size: calc(26px + ((100vw - 736px)) / 680);
  font-weight: 100em;
  font-style: italic;
  text-decoration-style: black;
  text-decoration-line: underline;
}
.certified {
  font-style: italic;
  font-weight: 100em;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.footer{
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 12px;
}
a.phoneNum {
  color: white;
}
a.phoneNum:hover {
color: blue;
}

/*Button nav box */
.navBox {
  background-color: beige;
  display: grid;
  grid-area: nav;
  border-right: 5px solid tan;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px 1fr;
  grid-template-areas:
  "."
  "btnBox"
  "."
  
   
}

.buttonBox {
  color: black;
  text-align: left;
  display: grid; 
  grid-area: btnBox;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "btn1"
  "btn2"
  "btn3"
  "btn4";

}
.button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(12px + ((100vw - 1100px)) / 680);
  cursor: pointer;

}

.btn1 {
  grid-area: btn1;
  justify-self: center;
  align-self: center;
}

.btn2 {
  grid-area: btn2;
  justify-self: center;
  align-self: center;
}
.btn3 {
  grid-area: btn3;
  justify-self: center;
  align-self: center;
}
.btn4 {
  grid-area: btn4;
  justify-self: center;
  align-self: center;
}
/* mobile screen size iphone */
@media only screen and (max-width: 736px) {
  .mainBox {
  margin: 1rem;
  font-size: calc(12px + ((100vw - 736px)) / 680);
  border: 2px solid black;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  display: grid;
  opacity: 0.95;
  grid-gap: 0;
  grid-template-columns: 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
   "nav"
   "cont"
   ;
}
.showBox {
  grid-area: showBox;
  background-color: whitesmoke;
  margin: 25px 25px 16px 25px;
  border: 2px solid black;
  padding: 10px 15px 10px 15px;
  text-align: left;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.navBox {
  background-color: beige;
  display: grid;
  grid-area: nav;
  border-right: 0;
  border-bottom: 5px solid tan;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
  grid-template-areas:
 "btnBox";
}
.footer{
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: calc(10px + ((100vw - 736px)) / 680);
}
.buttonBox {
  display: grid; 
  grid-area: btnBox;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn1 btn2 btn3 btn4";
}

.btn1 {
  grid-area: btn1;
  justify-self: center;
  align-self: center;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.btn2 {
  grid-area: btn2;
  justify-self: center;
  align-self: center;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.btn3 {
  grid-area: btn3;
  justify-self: center;
  align-self: center;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.btn4 {
  grid-area: btn4;
  justify-self: center;
  align-self: center;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}
.footer{
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: calc(12px + ((100vw - 736px)) / 680);
}                    
  }
  
